---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Firmansyah Sundana</title>
		<meta name="description" content="Sundana Personal Website" />
    <link rel="stylesheet" href="/styles/style.css" />
	</head>
	<body>
    <main class="container">
      <div class="grid">
        <div>
          <img src="/img/firmansyahsundana.JPG" alt="" />
          <h1>Hello, I'm Sundana 👋🏼</h1>
          <p class="profile-description">
            I'm a computer science graduate student. I love solving problems
            and reading philosophy books.
          </p>
        </div>
        <div>
          <h1>Project</h1>
          <hr />
          <ul>
            <li>
              <a
                href="https://lsfdiscourse.vercel.app"
                target="_blank"
                style="display: inline-block; margin-bottom: 10px"
                >Discourse</a
              >
              <p style="color: #cacaca">
                A digital magazine powered by LSF Discourse. I developed it
                using NextJS and TypeScript (discontinue).
              </p>
            </li>
          </ul>
        </div>
        <div>
          <h1>Writing</h1>
          <hr />
          <ul>
            <li>
              <a
                href="https://lsfdiscourse.org/artikel/pelajaran-singkat-tentang-argumen"
                >Pelajaran Singkat tentang Argumen</a
              >
            </li>
            <li>
              <a
                href="https://lsfdiscourse.org/artikel/struktur-logis-dunia-kita"
                >Struktur Logis Dunia (Kita)</a
              >
            </li>
            <li>
              <a href="https://lsfdiscourse.org/artikel/ada-apa-dengan-cinta"
                >Ada Apa dengan Cinta?</a
              >
            </li>
            <li>
              <a
                href="https://lsfdiscourse.org/artikel/sherlock-holmes-dan-masalah-etika"
                >Sherlock Holmes dan Masalah Etika</a
              >
            </li>
            <li>
              <a
                href="https://lsfdiscourse.org/artikel/genderuwo-leak-dan-pengetahuan-kita"
                >Genderuwo, Leak, dan Pengetahuan Kita</a
              >
            </li>
            <li>
              <a
                href="https://lsfdiscourse.org/artikel/agora-konflik-umat-penghancuran-buku-hingga-kematian-filsafat"
                >Agora: Konflik Umat, Penghancuran Buku, hingga Kematian
                Filsafat</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h1>Teaching</h1>
          <hr />
          <ul>
            <li>
              <a href="https://www.youtube.com/watch?v=0qrIapY3m3k"
                >Pengantar Ontologi dan Epistemologi</a
              >
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
